<style type="text/css">
	body {
      background-image: url("http://i.huffpost.com/gen/799955/thumbs/o-THE-MATRIX-AND-HINDUISM-facebook.jpg");
}

div {
	background-color:rgba(255,255,255,0.8);
	height:500px;
    width:500px; margin-left: auto;
    margin-right: auto;
    width: 70%;
	text-align: center;
	
}
</style>
<div>
<h1>Lo lograste!!, ahora será más difícil</h1>
<form method="get" action="/">
<input type="submit" name="Volver" value="volver" />
</form>
</div>
