<html>
  <head>      
    <link rel="stylesheet" type="text/css" href="./public?folder=css&name=main&ext=css">
    <link rel="shortcut icon" href="./public?folder=img&name=favicon&ext=ico" type="image/vnd.microsoft.icon">
    <script type="text/javascript"src="./public?folder=lib&name=app&ext=js" ></script>
  </head>
  <body>
    <div style="back">
      <h1>Bienvenido!<br/> Soy Simón Recargado!!</h1>
      <form method="post" action="/jugar">
        <table align="center">
          <tr>
            <td>Digita tu nombre: </td><td>&nbsp;</td>
          </tr>
          <tr>
            <td>
              <input type="text" name="playerName" id="playerName" value="" onKeyPress="validarLetras()" onBlur="validarLetras()" />
            </td>
            <td>
              <input type="submit" value="Jugar" name="jugar" /></td>
          </tr>
        </table>
	     <input type="text" value="1" name="num" style="display:none">
      </form>
    </div>    
  </body>
</html>
