
<style type="text/css">
	body {
      background-image: url("http://i.huffpost.com/gen/799955/thumbs/o-THE-MATRIX-AND-HINDUISM-facebook.jpg");
}

div {
	background-color:rgba(255,255,255,0.8);
	height:500px;
    width:500px; margin-left: auto;
    margin-right: auto;
    width: 70%;
	text-align: center;
	
}
</style>
<div>
<h1>Lo siento, perdiste... Intenta otra vez!!</h1>
<img src="http://blogcdn.4tests.com/wp-content/uploads/2013/10/to_cancel_or_not-280x300.jpg" />
<form method="get" action="/">
<input type="submit" name="Volver" value="volver" />
</form>	
</div>
