<h1>Lo siento, perdiste... Intenta otra vez!!</h1>
<img src="http://blogcdn.4tests.com/wp-content/uploads/2013/10/to_cancel_or_not-280x300.jpg" />
<form method="get" action="/">
<input type="submit" name="Volver" value="volver" />
</form>	
