<html>
<head>
  <link rel="stylesheet" type="text/css" href="./public?folder=css&name=jugar&ext=css" >  
  <link rel="shortcut icon" href="./public?folder=img&name=favicon&ext=ico" type="image/vnd.microsoft.icon">
</head>
<body>
  <div style="height:70%; width:90%">
    <h1><span class="player_name"><%= @nombre_jugador%></span> Lo siento, perdiste... Intenta otra vez!!</h1>
    <img style="height:50%;"src="./public?folder=img&name=perdio&ext=png" />
    <br>      
    <table align="center" style="width:70%;">
      <tr>
        <td style="width:10%;"><img class="imagenSeqAns" src="./public?folder=img&name=wrong&ext=png"></td>
        <td>
          <div id="secuenciaRespuesta"  style="display:block; width:100%; height: 10%; background-color:rgba(25,25,25,0.3)">
            <%= @@mainView.getMemorySequence(@lista, "ans") %></td>
          </div>
      </tr>
    </table>
    <br>      
    <table align="center" style="width:70%;">
      <tr>
        <td style="width:10%;"><img class="imagenSeqAns" src="./public?folder=img&name=ok&ext=png"></td>
        <td>
          <div id="secuenciaRespuesta"  style="display:block; width:100%; height: 10%; background-color:rgba(25,25,25,0.3)">
            <%= @@mainView.getMemorySequence(@lista_generada, "ans") %></td>
          </div>
      </tr>
    </table>
    <br>
    <form method="get" action="/">
      <input type="text" id = "playerName" name = "playerName" style="display:none" value=<%= @nombre_jugador %> />
      <input type="submit" name="Volver" value="volver" />
    </form>	
  </div>
</body>
</html>
